In [1]:
people= {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd
demo_df = pd.DataFrame(people)
demo_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [4]:
demo_df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [5]:
demo_df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [6]:
type(demo_df['email'])

pandas.core.series.Series

In [7]:
demo_df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
type(demo_df.email)

pandas.core.series.Series

In [9]:
demo_df[['first','email']]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com
2   John        JohnDoe@email.com

In [10]:
# get columns
demo_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
# iloc is the integer location
# get row
demo_df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [12]:
# iloc is the integer location

demo_df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [13]:
# iloc is the integer location
# get column of two rows

demo_df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [14]:
# search by label
demo_df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [15]:
demo_df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [16]:
demo_df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [17]:
p={"col1": ['A', 'A', 'B', 'B'], "col2": [1, 1, 2, 3,], "col3": ['value1', 'value2', 'value3', 'value4']}

In [18]:
df = pd.DataFrame(p)

In [19]:
df

  col1  col2    col3
0    A     1  value1
1    A     1  value2
2    B     2  value3
3    B     3  value4

In [20]:
df.groupby(['col1', 'col2']).first()

             col3
col1 col2
A    1     value1
B    2     value3
     3     value4

In [21]:
print(df.dtypes)

col1    object
col2     int64
col3    object
dtype: object