In [1]:
import pandas as pd

In [14]:
people = {
    "first_name": ['Tasnuva', 'Jahn', 'John'],
    "last_name": ['Zaman', 'Doe', 'Doe'],
    "email": ['tasnuva@gmail.com', 'jahn@gmail.com', 'joh@gmail.com']
}

In [15]:
df = pd.DataFrame(people)

In [16]:
df

  first_name last_name              email
0    Tasnuva     Zaman  tasnuva@gmail.com
1       Jahn       Doe     jahn@gmail.com
2       John       Doe      joh@gmail.com

In [20]:
filt = (df['last_name'] == 'Doe') | (df['first_name'] == 'John')

In [21]:
df[filt]

  first_name last_name           email
1       Jahn       Doe  jahn@gmail.com
2       John       Doe   joh@gmail.com

In [22]:
df.loc[filt]

  first_name last_name           email
1       Jahn       Doe  jahn@gmail.com
2       John       Doe   joh@gmail.com

In [23]:
df.loc[~filt, 'email']

0    tasnuva@gmail.com
Name: email, dtype: object

In [24]:
df.iloc[[0, 1]]

  first_name last_name              email
0    Tasnuva     Zaman  tasnuva@gmail.com
1       Jahn       Doe     jahn@gmail.com

In [25]:
df.columns = [x.lower() for x in df.columns]

In [28]:
df.columns = df.columns.str.replace('+', '_')

In [29]:
df.head()

  first_name last_name              email
0    Tasnuva     Zaman  tasnuva@gmail.com
1       Jahn       Doe     jahn@gmail.com
2       John       Doe      joh@gmail.com